<div class="container">

  <div class="row justify-content-center">
    <div class="col-sm-12">
      <br>
      <h1><%="Hi #{current_user.email}, this is your profile page!"%></h1>
      <br>
      <p class="row justify-content-center">Here you can see all of your current rentals and bookings, edit their details and see your previous rentals and bookings.</p>
      <br>
      <br>
    </div>
  </div>


  <h3> My Rentals </h3>
  <%if Booking.where( { user_id: current_user.id} ).to_a == []%>
    <br>
    <h5>It looks like you haven't rented any shoes yet!</h5>
    <br>
    <p class="btn btn-flat"><%= link_to "Rent shoes now!", shoes_path %> </p>
    <br>
    <br>
    <br>
  <%else %>
    <div class="cards" style="padding: 0px;">
      <% @user_bookings = Booking.where( { user_id: current_user.id} ).to_a %>
      <% @user_bookings.each do  |booking| %>
        <% @shoe = Shoe.find_by id: booking.shoe_id %>
        <%= link_to shoe_path(@shoe) do %>
          <div class="card-shoe-profile">
            <%= cl_image_tag @shoe.photo.key %>
            <div class="card-shoe-profile-infos">
              <div>
                <h2><%= @shoe.title %></h2>
                <p>Title: <strong><%= @shoe.title %></strong></p>
                <p>When: <strong><%= booking.date %>.00 </strong>/day</p>
                <p>For: <strong><%= booking.duration %> days</strong></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <%end% %>

  <h3> My Shoes </h3>
  <div class="cards" style="padding: 0px;">
    <%= link_to new_shoe_path do %>
      <div class="card-shoe-add" id="new-shoe-card">
        <i class="far fa-plus-square"></i>
      </div>
    <% end %>

    <% @user_shoes = Shoe.where( { user_id: current_user.id} ).to_a %>
    <% @user_shoes.each do |shoe| %>


        <div class="card-shoe-profile">
          <%= link_to edit_shoe_path(shoe) do %>
            <div class="card-icon" >
              <i class="fas fa-edit" id="edit-icon"></i>
            </div>
          <% end %>
          <%= link_to shoe_path(shoe), method: :delete, data: { confirm: "Are you sure?" } do %>
            <div class="card-icon" >
              <i class="fas fa-trash-alt" id="delete-icon"></i>
            </div>
          <% end %>

          <%= cl_image_tag shoe.photo.key %>


          <div class="card-shoe-profile-infos">
            <div>
              <%= link_to shoe_path(shoe) do %>
                <h2><%= shoe.title %></h2>
              <% end %>
              <br>
              <p>Brand: <strong><%= shoe.brand %></strong></p>
              <p>Size (UK): <strong><%= shoe.size %></strong></p>
              <p>Type: <strong><%= shoe.category %></strong></p>
              <p>Price: <strong><%= shoe.price %>.00 </strong>/day</p>
            </div>
          </div>
        </div>

    <% end %>
  </div>
  <br>
  <br>
  <br>

</div>
