<div class="booking-form-div">
    <%= simple_form_for @shoe, html: { class: "booking-form"} do |f|%>
      <%= f.input :title, label: "Title (15 Characters Max)", :input_html => { class: 'field' } %>
      <%= f.input :brand, label: "Brand", :input_html => { class: 'field' } %>
      <%= f.input :size, label: "Size", :input_html => { class: 'field' } %>
      <%= f.input :photo, as: :file %>
      <%= f.input :category, collection: ["hiking", "formal", "flippers", "sneakers", "wellies", "industrial", "climbing", "cycling", "sport"], label: "Category", :input_html => { class: 'field' } %>
      <%= f.input :price, label: "Price (£)", :input_html => { class: 'field' } %>
      <%= f.input :address, label: "Shoe location (Street Address, Town/City)", :input_html => { class: 'field' } %>
      <%= f.button :submit, 'Save Changes',  class: "submit-button booking-submit"  %>
    <% end %>
  </div>

<%# Put below statement on the show page ?  %>
<%# <%= link_to 'Edit', edit_shoe_path(@shoe) %>

<%# Code for deleting a shoe ?  %>
<%# <%= link_to "Delete Shoe", shoe_path(shoe), method: :delete, data: { confirm: "Are you sure?" } %>
