
<h1>Shoes you can rent RIGHT NOW!!!</h1>
<div class="search-container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
    <%= form_tag shoes_path, method: :get, class: 'form-inline' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control flex-grow-1",
        placeholder: "Find your perfect FootWhere"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% @shoes.each do |shoe| %>
    <%= link_to shoe_path(shoe) do %>
      <div class="shoes">
        <div class="shoe">
          <div class="shoe-img">
              <%= cl_image_tag shoe.photo.key%>
          </div>
          <div class="shoe-card-text">
            <h2><%= shoe.title %></h2>
            <div class="card-text-p">
              <p>Brand: <strong><%= shoe.brand %></strong></p>
              <p>Size (UK): <strong><%= shoe.size %></strong></p>
              <p>Type: <strong><%= shoe.category %></strong></p>
              <p>Price: <strong><%= shoe.price %>.00 </strong>/day</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
