<%= render 'navbar' %>

<div class='container'>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @shoe.image_url %>);">
  </div>
</div>

<div class='container'>
  <h2 class='card-title'>Specifications</h2>
  <p class='card-content'>
    <ul>
      <li>Brand: <%= @shoe.brand %></li>
      <li>Title: <%= @shoe.title %></li>
      <li>Category: <%= @shoe.category %></li>
      <li>Size: <%= @shoe.size %></li>
    </ul>
  </p>
</div>

<div class='container'>
  <a class="btn btn-flat" href="#">Book Now</a>
</div>



<%= render 'card_div' %>
<%= render 'footer' %>
